@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background: #f8fafc;
}

button,
select,
a,
input[type="date"] {
  cursor: pointer;
}

input,
textarea {
  outline: none;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
}

button {
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: translateY(-1px);
}